<!DOCTYPE html>
<html>

<head>
    <title>Groupie Tracker</title>
</head>
<style>
    .search-container {
        display: flex;
        align-items: center;
        max-width: 450px;
        width: 100%;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
</style>

<body>
    <h1>Groupie Tracker</h1>
    <p>Welcome to the artists page!</p>
        <a href="/index.html">Home</a><br>
    <form class="search-container" action="/artists" method="GET" role="search">
        <input type="search" id="site-search" name="search" placeholder="Search everything..."
            aria-label="Search through site content" autocomplete="off" />
        <button type="submit">Search</button>
    </form>
    {{if eq (len .) 0}}
        <p>No artists found</p>
    {{ else}}
    {{ range . }}
    <div>
        <h2>Artists Name: <a href="/artist?id={{ .ID}}"> {{ .Name }}</a></h2>
    </div>
    <img src="{{ .Image }}" alt="{{ .Name }}">
    <p>ID: {{ .ID}}</p>
    <p>Creation Year: {{ .CreationYear}}</p>
    <p>First Album Year: {{ .FirstAlbum}} </p>
    <p> Members:</p>
    <ul>
        {{ range .Members }}
        <li>{{ . }}</li>
        {{end}}
    </ul>
    {{ end }}
    {{end}}
</body>

</html>