<!DOCTYPE html>
<html>
    <head>
        <title>Home | Groupie Tracker</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>

    <div class="container">
        <div class="hero">
            <h1>GROUPIE TRACKER</h1>

            <p>
                Discover artists, explore their members, and track their concerts
                with <em>Groupie Tracker.</em>
                Search for your favorite artists and find their performance dates,
                venues, and locations, all in one place.
            </p>

            <p>Explore artists and their concert information.</p>

            <a class="button" href="/artists">View Artists</a>
        </div>
    </div>

</body>

</html>